<!--Form with header-->
<div class="card mb-4 col-11 col-sm-8 mx-auto p-0">

  <div class="card-header">
    <div class="bg-light text-center">
      <h3 *ngIf="!event.id; else modify">Új esemény létrehozása</h3>
      <ng-template #modify><h3>Esemény szerkesztése</h3></ng-template>
    </div>
  </div>

  <!--card-body-->
  <div class="card-body">

    <form #eventForm="ngForm" (ngSubmit)="onSubmit()">
      <!--<form #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm.value)">-->
      <div class="form-group">
        <label for="esemeny">Esemény címe:</label>
        <input type="text" class="form-control mb-3" id="esemeny" placeholder="Esemény címe"
          [disabled]="viewForm" [(ngModel)]="event.name" name="name" required #name="ngModel">
        <alert type="danger" *ngIf="name.touched && name.invalid">Kötelező mező!</alert>
      </div>

      <div class="form-group">
        <label for="idopont">Esemény időpontja</label>
        <input type="text" class="form-control mb-3" id="idopont" placeholder="Esemény időpontja"
               [disabled]="viewForm" [(ngModel)]="event.date" name="date" required #date="ngModel">
        <alert type="danger" *ngIf="date.touched && date.invalid">Kötelező mező!</alert>
      </div>

      <div class="form-group mt-3">
        <label for="pictureUrl">Válassz képet az eseményhez</label>
        <input type="text" id="pictureUrl" class="form-control mb-3" placeholder="Eseményhez tartozo kep url-je" required
          [disabled]="viewForm" [(ngModel)]="event.pictureURL" name="picUrl" #picUrl="ngModel">
        <alert type="danger" *ngIf="picUrl.touched && picUrl.invalid">Kötelező mező!</alert>
      </div>
<!--
      <div class="form-group">
        <label for="pictureURL">Válassz képet az eseményhez</label>
        <input type="text" class="form-control mb-3" id="pictureURL" placeholder="Eseményhez tartozó kép URL-je"
               [disabled]="!editForm" [(ngModel)]="event.pictureURL" name="pictUrl" required #picUrl="ngModel">
        <alert type="danger" *ngIf="picUrl.touched && picUrl.invalid">Kötelező mező!</alert>
      </div>
-->
<!--
    <div class="form-group row">
      <img class="img-fluid mx-auto" src="./assets/newevent.png" alt="">
      <div class="form-group mt-3">
        <label for="pictureURL">Válassz képet az eseményhez</label>
        <input type="file" class="form-control-file" id="pictureURL" placeholder="Eseményhez tartozó kép URL-je">
      </div>
    </div>
-->
      <div class="form-group">
        <label for="leiras">Esemény leírása</label>
        <textarea id="leiras" class="form-control" placeholder="Esemény leírása" required [disabled]="viewForm"
                  [(ngModel)]="event.description" name="description" #description="ngModel">
        </textarea>
        <alert type="danger" *ngIf="description.touched && description.invalid">Kötelező mező!</alert>
      </div>

      <div class="text-center mb-3">
        <ng-container *ngIf="userService.isLoggedIn$ | async">
          <ng-container *ngIf="viewForm; else editButtons">
            <button type="button"
              class="btn btn-primary btn-lg"
              (click)="viewForm = false">
              Szerkesztés
            </button>
          </ng-container>
          <ng-template #editButtons>
            <button type="submit"
              class="btn btn-primary btn-lg"
              [disabled]="eventForm.invalid">
              Mentés
            </button>
            <button type="button"
              class="btn btn-danger btn-lg"
              (click)="delete()"
              *ngIf="event.id">
              Törlés
            </button>
          </ng-template>
        </ng-container>
        <button type="button" class="btn btn-primary btn-lg" (click)="navigateBack()">
          Vissza
        </button>
      </div>
        <!--
                <button type="submit" class="btn btn-primary btn-lg" *ngIf="editForm && !eventForm.invalid" value="létrehozás">
                <button type="submit" class="btn btn-primary btn-lg" *ngIf="editForm" [disabled]="eventForm.invalid" value="létrehozás">
                  Mentés
                </button>
                <button type="button" class="btn btn-primary btn-lg" *ngIf="!editForm && userService.isLoggedIn$" (click)="editForm = true">
                  Szerkesztés
                </button>
                <button type="button" class="btn btn-primary btn-lg" *ngIf="!userService.isLoggedIn$" (click)="navigateBack()">
                  Vissza
                </button>
                        <input *ngIf="!event.id; else modify1" class="btn btn-primary btn-lg" type="submit" value="Létrehozás">
                        <ng-template #modify1><input class="btn btn-primary btn-lg" type="submit" value="Módosítás"></ng-template>
        -->

    </form>

  </div>

</div>
